/*
Syntax error: Undefined mixin 'palette'.
        on line 99 of /Users/russo/Sites/Gumby/sass/ui/_tooltips.scss, in `palette'
        from line 99 of /Users/russo/Sites/Gumby/sass/ui/_tooltips.scss
        from line 11 of /Users/russo/Sites/Gumby/sass/ui/_all.scss
        from line 35 of /Users/russo/Sites/Gumby/sass/gumby.scss

Backtrace:
/Users/russo/Sites/Gumby/sass/ui/_tooltips.scss:99:in `palette'
/Users/russo/Sites/Gumby/sass/ui/_tooltips.scss:99
/Users/russo/Sites/Gumby/sass/ui/_all.scss:11
/Users/russo/Sites/Gumby/sass/gumby.scss:35
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:227:in `map'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:227:in `map'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/engine.rb:315:in `_render'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/sass-3.2.6/lib/sass/../sass/engine.rb:262:in `render'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/rubygems/custom_require.rb:31:in `to_proc'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `modified'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:30:in `temporary_multipath_handler'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:17:in `run'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:16:in `run'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `call'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/rb-fsevent-0.9.3/lib/rb-fsevent/fsevent.rb:43:in `run'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/bin/compass:30
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/russo/.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/bin/compass:44
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'palette'.\A         on line 99 of /Users/russo/Sites/Gumby/sass/ui/_tooltips.scss, in `palette'\A         from line 99 of /Users/russo/Sites/Gumby/sass/ui/_tooltips.scss\A         from line 11 of /Users/russo/Sites/Gumby/sass/ui/_all.scss\A         from line 35 of /Users/russo/Sites/Gumby/sass/gumby.scss"; }
