/*
Syntax error: Invalid CSS after ".row {": expected "}", was "<<<<<<< HEAD"
        on line 75 of /Users/craigkeller/Sites/gumby/sass/_grid.scss
        from line 35 of /Users/craigkeller/Sites/gumby/sass/gumby.scss

Backtrace:
/Users/craigkeller/Sites/gumby/sass/_grid.scss:75
/Users/craigkeller/Sites/gumby/sass/gumby.scss:35
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/scss/parser.rb:1147:in `expected'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/scss/parser.rb:1083:in `expected'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/scss/parser.rb:1078:in `tok!'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/scss/parser.rb:535:in `block'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/scss/parser.rb:528:in `ruleset'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/scss/parser.rb:552:in `block_child'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/scss/parser.rb:545:in `block_contents'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/scss/parser.rb:27:in `parse'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/engine.rb:342:in `_to_tree'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/engine.rb:274:in `to_tree'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/bin/compass:19:in `load'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/bin/compass:19:in `<main>'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/bin/ruby_noexec_wrapper:14:in `eval'
/Users/craigkeller/.rvm/gems/ruby-1.9.3-p374/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \".row {\": expected \"}\", was \"<<<<<<< HEAD\"\A         on line 75 of /Users/craigkeller/Sites/gumby/sass/_grid.scss\A         from line 35 of /Users/craigkeller/Sites/gumby/sass/gumby.scss"; }
