// Convert pixels to ems

@function em($size-in-px, $context: 16) {
  @if not unitless($size-in-px) {
      $size-in-px: strip-units($size-in-px);
  }
  @if not unitless($context) {
      $parent: strip-units($context);
  }
  @return ($size-in-px / $context) * 1em;
}