@function divide-cols($colnum) {
  @return 100%/$colnum;
}


@mixin fancytiles($desktop-columns, $tablet-columns: $desktop-columns, $mobile-columns: 1) {

  // These styles apply to all shift-columns
  display: inline-block;
  float: left;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;

  @include respond("min-width: #{$min-device-width}") {
    width: divide-cols($mobile-columns);
  }

  @include respond("min-width: #{$tablet-device-width}") {
    width: divide-cols($tablet-columns);
  }

  @include respond("min-width: #{$row-max-width}") {
    width: divide-cols($desktop-columns);
  }

}