@mixin input-size($size) {
	@if $size == xxwide { $size: 100%; }
	@if $size == xwide { $size: 71%; }
	@if $size == wide { $size: 46%; }
	@if $size == normal { $size: 31%; }
	@if $size == narrow { $size: 21%; }
	@if $size == xnarrow { $size: 16%; }

	$width: $size;

	width: $width;
}

@mixin input-sizes-list() {
	$sizes: ();
	@each $item in $field-sizes {
		$sizes: join($sizes, unquote(".#{$item} "), comma);
	}
	#{$sizes} { @content }
}