// Typography mixins

// Fonts in rems with px fallback

  @mixin font-size($size, $is-important: false) {
    $size: if(unitless($size), $size, $size / 1px);
    
    @if $is-important {
      font-size: $size + px !important;
      font-size: ($size / 16) + rem !important;
    } @else {
      font-size: $size + px;
      font-size: ($size / 16) + rem;
    }
  }