// Entypo Icon Charset

$entypo-icon-note: \e717;                 //    \266a
$entypo-icon-note-beamed: \e630;          //    \266b
$entypo-icon-music: \e692;                //    \1f3b5
$entypo-icon-search: \e622;               //    \1f50d
$entypo-icon-flashlight: \e623;           //    \1f526
$entypo-icon-mail: \e604;                 //    \2709
$entypo-icon-heart: \e718;                //    \2665
$entypo-icon-heart-empty: \e618;          //    \2661
$entypo-icon-star: \e619;                 //    \2605
$entypo-icon-star-empty: \e61a;           //    \2606
$entypo-icon-user: \e60d;                 //    \1f464
$entypo-icon-users: \e60e;                //    \1f465
$entypo-icon-user-add: \e60f;             //    \e700
$entypo-icon-video: \e691;                //    \1f3ac
$entypo-icon-picture: \e690;              //    \1f304
$entypo-icon-camera: \e62c;               //    \1f4f7
$entypo-icon-layout: \e68b;               //    \268f
$entypo-icon-menu: \e68c;                 //    \2630
$entypo-icon-check: \e66f;                //    \2713
$entypo-icon-cancel: \e670;               //    \2715
$entypo-icon-cancel-circled: \e676;       //    \2716
$entypo-icon-cancel-squared: \e673;       //    \274e
$entypo-icon-plus: \e713;                 //    \2b
$entypo-icon-plus-circled: \e675;         //    \2795
$entypo-icon-plus-squared: \e672;         //    \229e
$entypo-icon-minus: \e677;                //    \2d
$entypo-icon-minus-circled: \e674;        //    \2796
$entypo-icon-minus-squared: \e671;        //    \229f
$entypo-icon-help: \e67b;                 //    \2753
$entypo-icon-help-circled: \e67c;         //    \e704
$entypo-icon-info: \e679;                 //    \2139
$entypo-icon-info-circled: \e67a;         //    \e705
$entypo-icon-back: \e682;                 //    \1f519
$entypo-icon-home: \e620;                 //    \2302
$entypo-icon-link: \e626;                 //    \1f517
$entypo-icon-attach: \e608;               //    \1f4ce
$entypo-icon-lock: \e66b;                 //    \1f512
$entypo-icon-lock-open: \e66c;            //    \1f513
$entypo-icon-eye: \e638;                  //    \e70a
$entypo-icon-tag: \e62b;                  //    \e70c
$entypo-icon-bookmark: \e69c;             //    \1f516
$entypo-icon-bookmarks: \e69d;            //    \1f4d1
$entypo-icon-flag: \e627;                 //    \2691
$entypo-icon-thumbs-up: \e61b;            //    \1f44d
$entypo-icon-thumbs-down: \e61c;          //    \1f44e
$entypo-icon-download: \e697;             //    \1f4e5
$entypo-icon-upload: \e696;               //    \1f4e4
$entypo-icon-upload-cloud: \e69b;         //    \e711
$entypo-icon-reply: \e60a;                //    \e712
$entypo-icon-reply-all: \e60b;            //    \e713
$entypo-icon-forward: \e60c;              //    \27a6
$entypo-icon-quote: \e61f;                //    \275e
$entypo-icon-code: \e659;                 //    \e714
$entypo-icon-export: \e611;               //    \e715
$entypo-icon-pencil: \e606;               //    \270e
$entypo-icon-feather: \e607;              //    \2712
$entypo-icon-print: \e624;                //    \e716
$entypo-icon-retweet: \e684;              //    \e717
$entypo-icon-keyboard: \e64f;             //    \2328
$entypo-icon-comment: \e61e;              //    \e718
$entypo-icon-chat: \e61d;                 //    \e720
$entypo-icon-bell: \e625;                 //    \1f514
$entypo-icon-attention: \e67d;            //    \26a0
$entypo-icon-alert: \e631;                //    \1f4a5
$entypo-icon-vcard: \e610;                //    \e722
$entypo-icon-address: \e723;              //    \e723
$entypo-icon-location: \e612;             //    \e724
$entypo-icon-map: \e613;                  //    \e727
$entypo-icon-direction: \e615;            //    \27a2
$entypo-icon-compass: \e614;              //    \e728
$entypo-icon-cup: \e649;                  //    \2615
$entypo-icon-trash: \e695;                //    \e729
$entypo-icon-doc: \e68f;                  //    \e730
$entypo-icon-docs: \e710;                 //    \e736
$entypo-icon-doc-landscape: \e711;        //    \e737
$entypo-icon-doc-text: \e68d;             //    \1f4c4
$entypo-icon-doc-text-inv: \e68e;         //    \e731
$entypo-icon-newspaper: \e634;            //    \1f4f0
$entypo-icon-book-open: \e69e;            //    \1f4d6
$entypo-icon-book: \e633;                 //    \1f4d5
$entypo-icon-folder: \e693;               //    \1f4c1
$entypo-icon-archive: \e694;              //    \e738
$entypo-icon-box: \e660;                  //    \1f4e6
$entypo-icon-rss: \e662;                  //    \e73a
$entypo-icon-phone: \e600;                //    \1f4de
$entypo-icon-cog: \e628;                  //    \2699
$entypo-icon-tools: \e629;                //    \2692
$entypo-icon-share: \e617;                //    \e73c
$entypo-icon-shareable: \e715;            //    \e73e
$entypo-icon-basket: \e71b;               //    \e73d
$entypo-icon-bag: \e635;                  //    \1f45c
$entypo-icon-calendar: \e63b;             //    \1f4c5
$entypo-icon-login: \e66e;                //    \e740
$entypo-icon-logout: \e66d;               //    \e741
$entypo-icon-mic: \e63a;                  //    \1f3a4
$entypo-icon-mute: \e6a9;                 //    \1f507
$entypo-icon-sound: \e6a8;                //    \1f50a
$entypo-icon-volume: \e70e;               //    \e742
$entypo-icon-clock: \e639;                //    \1f554
$entypo-icon-hourglass: \e642;            //    \23f3
$entypo-icon-lamp: \e65c;                 //    \1f4a1
$entypo-icon-light-down: \e656;           //    \1f505
$entypo-icon-light-up: \e657;             //    \1f506
$entypo-icon-adjust: \e658;               //    \25d1
$entypo-icon-block: \e678;                //    \1f6ab
$entypo-icon-resize-full: \e6a7;          //    \e744
$entypo-icon-resize-small: \e70f;         //    \e746
$entypo-icon-popup: \e621;                //    \e74c
$entypo-icon-publish: \e651;              //    \e74d
$entypo-icon-window: \e650;               //    \e74e
$entypo-icon-arrow-left: \e6b3;           //    \e74f
$entypo-icon-arrow-right: \e6b6;          //    \e74f
$entypo-icon-arrow-combo: \e6cd;          //    \e74f
$entypo-icon-down-circled: \e70c;         //    \e758
$entypo-icon-left-circled: \e6b7;         //    \e759
$entypo-icon-right-circled: \e6ba;        //    \e75a
$entypo-icon-up-circled: \e70d;           //    \e75b
$entypo-icon-down-open: \e75c;            //    \e75c
$entypo-icon-left-open: \e6bf;            //    \e75d
$entypo-icon-right-open: \e6c0;           //    \e75e
$entypo-icon-up-open: \e75f;              //    \e75f
$entypo-icon-down-open-mini: \e6c2;       //    \e760
$entypo-icon-left-open-mini: \e6c1;       //    \e761
$entypo-icon-right-open-mini: \e6c4;      //    \e762
$entypo-icon-up-open-mini: \e6c3;         //    \e763
$entypo-icon-down-open-big: \e6c6;        //    \e764
$entypo-icon-left-open-big: \e6c5;        //    \e765
$entypo-icon-right-open-big: \e6c8;       //    \e766
$entypo-icon-up-open-big: \e6c7;          //    \e767
$entypo-icon-down: \e6b4;                 //    \2b07
$entypo-icon-left: \e6b3;                 //    \2b05
$entypo-icon-right: \e6b6;                //    \27a1
$entypo-icon-up: \e6b5;                   //    \2b06
$entypo-icon-down-dir: \e6bc;             //    \25be
$entypo-icon-left-dir: \e6bb;             //    \25c2
$entypo-icon-right-dir: \e6be;            //    \25b8
$entypo-icon-up-dir: \e6bd;               //    \25b4
$entypo-icon-down-bold: \e6b0;            //    \e4b0
$entypo-icon-left-bold: \e6af;            //    \e4ad
$entypo-icon-right-bold: \e6b2;           //    \e4ae
$entypo-icon-up-bold: \e6b1;              //    \e4af
$entypo-icon-down-thin: \e6ca;            //    \2193
$entypo-icon-left-thin: \e6c9;            //    \2190
$entypo-icon-right-thin: \e6cc;           //    \2192
$entypo-icon-up-thin: \e6cb;              //    \2191
$entypo-icon-ccw: \e680;                  //    \27f2
$entypo-icon-cw: \e67f;                   //    \27f3
$entypo-icon-arrows-ccw: \e67e;           //    \1f504
$entypo-icon-level-down: \e683;           //    \21b3
$entypo-icon-level-up: \e687;             //    \21b0
$entypo-icon-shuffle: \e681;              //    \1f500
$entypo-icon-loop: \e685;                 //    \1f501
$entypo-icon-switch: \e688;               //    \21c6
$entypo-icon-play: \e69f;                 //    \25b6
$entypo-icon-stop: \e6a2;                 //    \25a0
$entypo-icon-pause: \e6a0;                //    \2389
$entypo-icon-record: \e6a1;               //    \26ab
$entypo-icon-to-end: \e6a6;               //    \23ed
$entypo-icon-to-start: \e6a5;             //    \23ee
$entypo-icon-fast-forward: \e6a3;         //    \23e9
$entypo-icon-fast-backward: \e6a4;        //    \23ea
$entypo-icon-progress-0: \e655;           //    \e768
$entypo-icon-progress-1: \e654;           //    \e769
$entypo-icon-progress-2: \e653;           //    \e76a
$entypo-icon-progress-3: \e652;           //    \e76b
$entypo-icon-target: \e616;               //    \1f3af
$entypo-icon-palette: \e62f;              //    \1f3a8
$entypo-icon-list: \e689;                 //    \e005
$entypo-icon-list-add: \e68a;             //    \e003
$entypo-icon-signal: \e663;               //    \1f4f6
$entypo-icon-trophy: \e62a;               //    \1f3c6
$entypo-icon-battery: \e647;              //    \1f50b
$entypo-icon-back-in-time: \e686;         //    \e771
$entypo-icon-monitor: \e65a;              //    \1f4bb
$entypo-icon-mobile: \e601;               //    \1f4f1
$entypo-icon-network: \e645;              //    \e776
$entypo-icon-cd: \e63f;                   //    \1f4bf
$entypo-icon-inbox: \e609;                //    \e777
$entypo-icon-install: \e699;              //    \e778
$entypo-icon-globe: \e64e;                //    \1f30e
$entypo-icon-cloud: \e69a;                //    \2601
$entypo-icon-cloud-thunder: \e63d;        //    \26c8
$entypo-icon-flash: \e63c;                //    \26a1
$entypo-icon-moon: \e62e;                 //    \263d
$entypo-icon-flight: \e636;               //    \2708
$entypo-icon-paper-plane: \e605;          //    \e79b
$entypo-icon-leaf: \e719;                 //    \1f342
$entypo-icon-lifebuoy: \e637;             //    \e788
$entypo-icon-mouse: \e602;                //    \e789
$entypo-icon-briefcase: \e640;            //    \1f4bc
$entypo-icon-suitcase: \e64c;             //    \e78e
$entypo-icon-dot: \e6d0;                  //    \e78b
$entypo-icon-dot-2: \e6cf;                //    \e78c
$entypo-icon-dot-3: \e6ce;                //    \e78d
$entypo-icon-brush: \e64b;                //    \e79a
$entypo-icon-magnet: \e71a;               //    \e7a1
$entypo-icon-infinity: \e65b;             //    \221e
$entypo-icon-erase: \e712;                //    \232b
$entypo-icon-chart-pie: \e668;            //    \e751
$entypo-icon-chart-line: \e667;           //    \1f4c8
$entypo-icon-chart-bar: \e669;            //    \1f4ca
$entypo-icon-chart-area: \e66a;           //    \1f53e
$entypo-icon-tape: \e65f;                 //    \2707
$entypo-icon-graduation-cap: \e632;       //    \1f393
$entypo-icon-language: \e644;             //    \e752
$entypo-icon-ticket: \e661;               //    \1f3ab
$entypo-icon-water: \e665;                //    \1f4a6
$entypo-icon-droplet: \e63e;              //    \1f4a7
$entypo-icon-air: \e641;                  //    \e753
$entypo-icon-credit-card: \e65d;          //    \1f4b3
$entypo-icon-floppy: \e698;               //    \1f4be
$entypo-icon-clipboard: \e714;            //    \1f4cb
$entypo-icon-megaphone: \e62d;            //    \1f4e3
$entypo-icon-database: \e65e;             //    \e754
$entypo-icon-drive: \e648;                //    \e755
$entypo-icon-bucket: \e716;               //    \e756
$entypo-icon-thermometer: \e664;          //    \e757
$entypo-icon-key: \e646;                  //    \1f511
$entypo-icon-flow-cascade: \e6aa;         //    \e790
$entypo-icon-flow-branch: \e6ab;          //    \e791
$entypo-icon-flow-tree: \e6ac;            //    \e792
$entypo-icon-flow-line: \e6ad;            //    \e793
$entypo-icon-flow-parallel: \e6ae;        //    \e794
$entypo-icon-rocket: \e64a;               //    \1f680
$entypo-icon-gauge: \e643;                //    \e7a2
$entypo-icon-traffic-cone: \e64d;         //    \e7a3
$entypo-icon-cc: \e6d1;                   //    \e7a5
$entypo-icon-cc-by: \e6d2;                //    \e7a6
$entypo-icon-cc-nc: \e6d3;                //    \e7a7
$entypo-icon-cc-nc-eu: \e6d4;             //    \e7a8
$entypo-icon-cc-nc-jp: \e6d5;             //    \e7a9
$entypo-icon-cc-sa: \e6d6;                //    \e7aa
$entypo-icon-cc-nd: \e6d7;                //    \e7ab
$entypo-icon-cc-pd: \e70b;                //    \e7ac
$entypo-icon-cc-zero: \e70a;              //    \e7ad
$entypo-icon-cc-share: \e6d8;             //    \e7ae
$entypo-icon-cc-remix: \e6d9;             //    \e7af
$entypo-icon-github: \e6dc;               //    \f300
$entypo-icon-github-circled: \e6dd;       //    \f301
$entypo-icon-flickr: \e6de;               //    \f303
$entypo-icon-flickr-circled: \e6df;       //    \f304
$entypo-icon-vimeo: \e6e0;                //    \f306
$entypo-icon-vimeo-circled: \e6e1;        //    \f307
$entypo-icon-twitter: \e6e2;              //    \f309
$entypo-icon-twitter-circled: \e6e3;      //    \f30a
$entypo-icon-facebook: \e6e4;             //    \f30c
$entypo-icon-facebook-circled: \e6e5;     //    \f30d
$entypo-icon-facebook-squared: \e6e6;     //    \f30e
$entypo-icon-gplus: \e6e7;                //    \f30f
$entypo-icon-gplus-circled: \e6e8;        //    \f310
$entypo-icon-pinterest: \e6e9;            //    \f312
$entypo-icon-pinterest-circled: \e6ea;    //    \f313
$entypo-icon-tumblr: \e6eb;               //    \f315
$entypo-icon-tumblr-circled: \e6ec;       //    \f316
$entypo-icon-linkedin: \e6ed;             //    \f318
$entypo-icon-linkedin-circled: \e6ee;     //    \f319
$entypo-icon-dribbble: \e6ef;             //    \f31b
$entypo-icon-dribbble-circled: \e709;     //    \f31c
$entypo-icon-stumbleupon: \e708;          //    \f31e
$entypo-icon-stumbleupon-circled: \f31f;  //    \f31f
$entypo-icon-lastfm: \e6f1;               //    \f321
$entypo-icon-lastfm-circled: \e6f2;       //    \f322
$entypo-icon-rdio: \e6f3;                 //    \f324
$entypo-icon-rdio-circled: \e6f4;         //    \f325
$entypo-icon-spotify: \e6f5;              //    \f327
$entypo-icon-spotify-circled: \e6f6;      //    \f328
$entypo-icon-qq: \e6f7;                   //    \f32a
$entypo-icon-instagram: \e6f8;            //    \f32d
$entypo-icon-dropbox: \e6f9;              //    \f330
$entypo-icon-evernote: \e6fa;             //    \f333
$entypo-icon-flattr: \e6fb;               //    \f336
$entypo-icon-skype: \e6fc;                //    \f339
$entypo-icon-skype-circled: \e6fd;        //    \f33a
$entypo-icon-renren: \e6fe;               //    \f33c
$entypo-icon-sina-weibo: \e6ff;           //    \f33f
$entypo-icon-paypal: \e700;               //    \f342
$entypo-icon-picasa: \e701;               //    \f345
$entypo-icon-soundcloud: \e702;           //    \f348
$entypo-icon-mixi: \e703;                 //    \f34b
$entypo-icon-behance: \e704;              //    \f34e
$entypo-icon-google-circles: \e705;       //    \f351
$entypo-icon-vkontakte: \e706;            //    \f354
$entypo-icon-smashing: \e707;             //    \f357
$entypo-icon-sweden: \f601;               //    \f601
$entypo-icon-db-shape: \e6db;             //    \f600
$entypo-icon-logo-db: \e6da;              //    \f603
 
// Grab the list of icons
@import "entypo-icon-list";
