// Entypo Icon Charset

$entypo-icon-note: \e633;																	//	\266a
$entypo-icon-note-beamed: \e634;															//	\266b
$entypo-icon-music: \e69e;													  				//	\1f3b5
$entypo-icon-search: \e624;																	//	\1f50d
$entypo-icon-flashlight: \e625;																//	\1f526
$entypo-icon-mail: \e604;																	//	\2709
$entypo-icon-heart: \e619;																	//	\2665
$entypo-icon-heart-empty: \e61a;															//	\2661
$entypo-icon-star: \e61b;																	//	\2605
$entypo-icon-star-empty: \e61c;																//	\2606
$entypo-icon-user: \e60d;																	//	\1f464
$entypo-icon-users: \e60e;																	//	\1f465
$entypo-icon-user-add: \e60f;																//	\e700
$entypo-icon-video: \e69d;																	//	\1f3ac
$entypo-icon-picture: \e69c;																//	\1f304
$entypo-icon-camera: \e62e;																	//	\1f4f7
$entypo-icon-layout: \e695;																		//	\268f
$entypo-icon-menu: \e696;																		//	\2630
$entypo-icon-check: \e677;																		//	\2713
$entypo-icon-cancel: \e678;																		//	\2715
$entypo-icon-cancel-circled: \e67e;																//	\2716
$entypo-icon-cancel-squared: \e67b;																//	\274e
$entypo-icon-plus: \e680;																		//	\2b
$entypo-icon-plus-circled: \e67d;																//	\2795
$entypo-icon-plus-squared: \e67a;																//	\229e
$entypo-icon-minus: \e67f;																		//	\2d
$entypo-icon-minus-circled: \e67c;																//	\2796
$entypo-icon-minus-squared: \e679;																//	\229f
$entypo-icon-help: \e685;																		//	\2753
$entypo-icon-help-circled: \e686;															//	\e704
$entypo-icon-info: \e683;																			//	\2139
$entypo-icon-info-circled: \e684;															//	\e705
$entypo-icon-back: \e68c;																		//	\1f519
$entypo-icon-home: \e622;																			//	\2302
$entypo-icon-link: \e628;																		//	\1f517
$entypo-icon-attach: \e608;																	//	\1f4ce
$entypo-icon-lock: \e673;																		//	\1f512
$entypo-icon-lock-open: \e674;																//	\1f513
$entypo-icon-eye: \e63c;																			//	\e70a
$entypo-icon-tag: \e62d;																			//	\e70c
$entypo-icon-bookmark: \e6a8;																//	\1f516
$entypo-icon-bookmarks: \e6a9;																//	\1f4d1
$entypo-icon-flag: \e629;																			//	\2691
$entypo-icon-thumbs-up: \e61d;																//	\1f44d
$entypo-icon-thumbs-down: \e61e;															//	\1f44e
$entypo-icon-download: \e6a3;																//	\1f4e5
$entypo-icon-upload: \e6a2;																	//	\1f4e4
$entypo-icon-upload-cloud: \e6a7;															//	\e711
$entypo-icon-reply: \e60a;																		//	\e712
$entypo-icon-reply-all: \e60b;																//	\e713
$entypo-icon-forward: \e60c;																	//	\27a6
$entypo-icon-quote: \e621;																		//	\275e
$entypo-icon-code: \e65f;																			//	\e714
$entypo-icon-export: \e611;																		//	\e715
$entypo-icon-pencil: \e606;																		//	\270e
$entypo-icon-feather: \e607;																	//	\2712
$entypo-icon-print: \e626;																		//	\e716
$entypo-icon-retweet: \e68e;																	//	\e717
$entypo-icon-keyboard: \e655;																	//	\2328
$entypo-icon-comment: \e620;																	//	\e718
$entypo-icon-chat: \e61f;																			//	\e720
$entypo-icon-bell: \e627;																		//	\1f514
$entypo-icon-attention: \e687;																//	\26a0
$entypo-icon-alert: \e635;																		//	\1f4a5
$entypo-icon-vcard: \e610;																		//	\e722
$entypo-icon-address: \e603;																	//	\e723
$entypo-icon-location: \e612;																	//	\e724
$entypo-icon-map: \e613;																			//	\e727
$entypo-icon-direction: \e615;																//	\27a2
$entypo-icon-compass: \e614;																	//	\e728
$entypo-icon-cup: \e64f;																			//	\2615
$entypo-icon-trash: \e6a1;																		//	\e729
$entypo-icon-doc: \e699;																			//	\e730
$entypo-icon-docs: \e69a;																			//	\e736
$entypo-icon-doc-landscape: \e69b;														//	\e737
$entypo-icon-doc-text: \e697;																//	\1f4c4
$entypo-icon-doc-text-inv: \e698;															//	\e731
$entypo-icon-newspaper: \e638;																//	\1f4f0
$entypo-icon-book-open: \e6aa;																//	\1f4d6
$entypo-icon-book: \e637;																		//	\1f4d5
$entypo-icon-folder: \e69f;																	//	\1f4c1
$entypo-icon-archive: \e6a0;																	//	\e738
$entypo-icon-box: \e668;																			//	\1f4e6
$entypo-icon-rss: \e66a;																			//	\e73a
$entypo-icon-phone: \e600;																		//	\1f4de
$entypo-icon-cog: \e62a;																			//	\2699
$entypo-icon-tools: \e62b;																		//	\2692
$entypo-icon-share: \e617;																		//	\e73c
$entypo-icon-shareable: \e618;																//	\e73e
$entypo-icon-basket: \e667;																		//	\e73d
$entypo-icon-bag: \e639;																			//	\1f45c
$entypo-icon-calendar: \e63f;																//	\1f4c5
$entypo-icon-login: \e676;																		//	\e740
$entypo-icon-logout: \e675;																		//	\e741
$entypo-icon-mic: \e63e;																			//	\1f3a4
$entypo-icon-mute: \e6b7;																		//	\1f507
$entypo-icon-sound: \e6b6;																		//	\1f50a
$entypo-icon-volume: \e6b5;																		//	\e742
$entypo-icon-clock: \e63d;																		//	\1f554
$entypo-icon-hourglass: \e646;																//	\23f3
$entypo-icon-lamp: \e662;																		//	\1f4a1
$entypo-icon-light-down: \e65c;															//	\1f505
$entypo-icon-light-up: \e65d;																//	\1f506
$entypo-icon-adjust: \e65e;																		//	\25d1
$entypo-icon-block: \e682;																		//	\1f6ab
$entypo-icon-resize-full: \e6b3;															//	\e744
$entypo-icon-resize-small: \e6b4;															//	\e746
$entypo-icon-popup: \e623;																		//	\e74c
$entypo-icon-publish: \e657;																	//	\e74d
$entypo-icon-window: \e656;																		//	\e74e
$entypo-icon-arrow-combo: \e6dd;															//	\e74f
$entypo-icon-down-circled: \e6c6;															//	\e758
$entypo-icon-left-circled: \e6c5;															//	\e759
$entypo-icon-right-circled: \e6c8;														//	\e75a
$entypo-icon-up-circled: \e6c7;																//	\e75b
$entypo-icon-down-open: \e6ce;																//	\e75c
$entypo-icon-left-open: \e6cd;																//	\e75d
$entypo-icon-right-open: \e6d0;																//	\e75e
$entypo-icon-up-open: \e6cf;																	//	\e75f
$entypo-icon-down-open-mini: \e6d2;														//	\e760
$entypo-icon-left-open-mini: \e6d1;														//	\e761
$entypo-icon-right-open-mini: \e6d4;													//	\e762
$entypo-icon-up-open-mini: \e6d3;															//	\e763
$entypo-icon-down-open-big: \e6d6;														//	\e764
$entypo-icon-left-open-big: \e6d5;														//	\e765
$entypo-icon-right-open-big: \e6d8;														//	\e766
$entypo-icon-up-open-big: \e6d7;															//	\e767
$entypo-icon-down: \e6c2;																			//	\2b07
$entypo-icon-left: \e6c1;																			//	\2b05
$entypo-icon-right: \e6c4;																		//	\27a1
$entypo-icon-up: \e6c3;																				//	\2b06
$entypo-icon-left-dir: \e6c9;																	//	\25c2
$entypo-icon-down-dir: \e6ca;																	//	\25be
$entypo-icon-up-dir: \e6cb;																		//	\25b4
$entypo-icon-right-dir: \e6cc;																//	\25b8
$entypo-icon-left-bold: \e6bd;																//	\e4ad
$entypo-icon-down-bold: \e6be;																//	\e4b0
$entypo-icon-up-bold: \e6bf;																	//	\e4af
$entypo-icon-right-bold: \e6c0;																//	\e4ae
$entypo-icon-left-thin: \e6d9;																//	\2190
$entypo-icon-down-thin: \e6da;																//	\2193
$entypo-icon-up-thin: \e6db;																	//	\2191
$entypo-icon-right-thin: \e6dc;																//	\2192
$entypo-icon-ccw: \e68a;																			//	\27f2
$entypo-icon-cw: \e689;																				//	\27f3
$entypo-icon-arrows-ccw: \e688;															//	\1f504
$entypo-icon-level-down: \e68d;																//	\21b3
$entypo-icon-level-up: \e691;																	//	\21b0
$entypo-icon-shuffle: \e68b;																	//	\1f500
$entypo-icon-loop: \e68f;																		//	\1f501
$entypo-icon-switch: \e692;																		//	\21c6
$entypo-icon-play: \e6ab;																			//	\25b6
$entypo-icon-stop: \e6ae;																			//	\25a0
$entypo-icon-pause: \e6ac;																		//	\2389
$entypo-icon-record: \e6ad;																		//	\26ab
$entypo-icon-to-end: \e6b2;																		//	\23ed
$entypo-icon-to-start: \e6b1;																	//	\23ee
$entypo-icon-fast-forward: \e6af;															//	\23e9
$entypo-icon-fast-backward: \e6b0;														//	\23ea
$entypo-icon-progress-0: \e65b;																//	\e768
$entypo-icon-progress-1: \e65a;																//	\e769
$entypo-icon-progress-2: \e659;																//	\e76a
$entypo-icon-progress-3: \e658;																//	\e76b
$entypo-icon-target: \e616;																	//	\1f3af
$entypo-icon-palette: \e631;																	//	\1f3a8
$entypo-icon-list: \e693;																			//	\e005
$entypo-icon-list-add: \e694;																	//	\e003
$entypo-icon-signal: \e66b;																	//	\1f4f6
$entypo-icon-trophy: \e62c;																	//	\1f3c6
$entypo-icon-battery: \e64b;																	//	\1f50b
$entypo-icon-back-in-time: \e608;															//	\e771
$entypo-icon-monitor: \e660;																	//	\1f4bb
$entypo-icon-mobile: \e601;																	//	\1f4f1
$entypo-icon-network: \e649;																	//	\e776
$entypo-icon-cd: \e643;																			//	\1f4bf
$entypo-icon-inbox: \e609;																		//	\e777
$entypo-icon-install: \e6a5;																	//	\e778
$entypo-icon-globe: \e654;																		//	\1f30e
$entypo-icon-cloud: \e6a6;																		//	\2601
$entypo-icon-cloud-thunder: \e641;														//	\26c8
$entypo-icon-flash: \e640;																		//	\26a1
$entypo-icon-moon: \e630;																			//	\263d
$entypo-icon-flight: \e63a;																		//	\2708
$entypo-icon-paper-plane: \e605;															//	\e79b
$entypo-icon-leaf: \e632;																		//	\1f342
$entypo-icon-lifebuoy: \e63b;																	//	\e788
$entypo-icon-mouse: \e602;																		//	\e789
$entypo-icon-briefcase: \e644;																//	\1f4bc
$entypo-icon-suitcase: \e652;																	//	\e78e
$entypo-icon-dot: \e6e0;																			//	\e78b
$entypo-icon-dot-2: \e6df;																		//	\e78c
$entypo-icon-dot-3: \e6de;																		//	\e78d
$entypo-icon-brush: \e651;																		//	\e79a
$entypo-icon-magnet: \e64d;																		//	\e7a1
$entypo-icon-infinity: \e661;																	//	\221e
$entypo-icon-erase: \e681;																		//	\232b
$entypo-icon-chart-pie: \e670;																//	\e751
$entypo-icon-chart-line: \e66f;															//	\1f4c8
$entypo-icon-chart-bar: \e671;																//	\1f4ca
$entypo-icon-chart-area: \e672;															//	\1f53e
$entypo-icon-tape: \e665;																			//	\2707
$entypo-icon-graduation-cap: \e636;													//	\1f393
$entypo-icon-language: \e648;																	//	\e752
$entypo-icon-ticket: \e669;																	//	\1f3ab
$entypo-icon-water: \e66d;																		//	\1f4a6
$entypo-icon-droplet: \e642;																	//	\1f4a7
$entypo-icon-air: \e645;																			//	\e753
$entypo-icon-credit-card: \e663;															//	\1f4b3
$entypo-icon-floppy: \e6a4;																	//	\1f4be
$entypo-icon-clipboard: \e666;																//	\1f4cb
$entypo-icon-megaphone: \e62f;																//	\1f4e3
$entypo-icon-database: \e664;																	//	\e754
$entypo-icon-drive: \e64e;																		//	\e755
$entypo-icon-bucket: \e64c;																		//	\e756
$entypo-icon-thermometer: \e66c;															//	\e757
$entypo-icon-key: \e64a;																			//	\1f511
$entypo-icon-flow-cascade: \e6b8;															//	\e790
$entypo-icon-flow-branch: \e6b9;															//	\e791
$entypo-icon-flow-tree: \e6ba;																//	\e792
$entypo-icon-flow-line: \e6bb;																//	\e793
$entypo-icon-flow-parallel: \e6bc;														//	\e794
$entypo-icon-rocket: \e650;																	//	\1f680
$entypo-icon-gauge: \e647;																		//	\e7a2
$entypo-icon-traffic-cone: \e653;															//	\e7a3
$entypo-icon-cc: \e6e1;																				//	\e7a5
$entypo-icon-cc-by: \e6e2;																		//	\e7a6
$entypo-icon-cc-nc: \e6e3;																		//	\e7a7
$entypo-icon-cc-nc-eu: \e6e4;																	//	\e7a8
$entypo-icon-cc-nc-jp: \e6e5;																	//	\e7a9
$entypo-icon-cc-sa: \e6e6;																		//	\e7aa
$entypo-icon-cc-nd: \e6e7;																		//	\e7ab
$entypo-icon-cc-pd: \e6e8;																		//	\e7ac
$entypo-icon-cc-zero: \e6e9;																	//	\e7ad
$entypo-icon-cc-share: \e6ea;																	//	\e7ae
$entypo-icon-cc-remix: \e6eb;																	//	\e7af
$entypo-icon-github: \e6ee;																		//	\f300
$entypo-icon-github-circled: \e6ef;														//	\f301
$entypo-icon-flickr: \e6f0;																		//	\f303
$entypo-icon-flickr-circled: \e6f1;														//	\f304
$entypo-icon-vimeo: \e6f2;																		//	\f306
$entypo-icon-vimeo-circled: \e6f3;														//	\f307
$entypo-icon-twitter: \e6f4;																	//	\f309
$entypo-icon-twitter-circled: \e6f5;													//	\f30a
$entypo-icon-facebook: \e6f6;																	//	\f30c
$entypo-icon-facebook-circled: \e6f7;													//	\f30d
$entypo-icon-facebook-squared: \e6f8;													//	\f30e
$entypo-icon-gplus: \e6f9;																		//	\f30f
$entypo-icon-gplus-circled: \e6fa;														//	\f310
$entypo-icon-pinterest: \e6fb;																//	\f312
$entypo-icon-pinterest-circled: \e6fc;												//	\f313
$entypo-icon-tumblr: \e6fd;																		//	\f315
$entypo-icon-tumblr-circled: \e6fe;														//	\f316
$entypo-icon-linkedin: \e6ff;																	//	\f318
$entypo-icon-linkedin-circled: \e700;													//	\f319
$entypo-icon-dribbble: \e701;																	//	\f31b
$entypo-icon-dribbble-circled: \e702;													//	\f31c
$entypo-icon-stumbleupon: \e703;															//	\f31e
$entypo-icon-stumbleupon-circled: \e704;											//	\f31f
$entypo-icon-lastfm: \e705;																		//	\f321
$entypo-icon-lastfm-circled: \e706;														//	\f322
$entypo-icon-rdio: \e707;																			//	\f324
$entypo-icon-rdio-circled: \e708;															//	\f325
$entypo-icon-spotify: \e709;																	//	\f327
$entypo-icon-spotify-circled: \e70a;													//	\f328
$entypo-icon-qq: \e70b;																				//	\f32a
$entypo-icon-instagram: \e70c;																//	\f32d
$entypo-icon-dropbox: \e70d;																	//	\f330
$entypo-icon-evernote: \e70e;																	//	\f333
$entypo-icon-flattr: \e70f;																		//	\f336
$entypo-icon-skype: \e710;																		//	\f339
$entypo-icon-skype-circled: \e711;														//	\f33a
$entypo-icon-renren: \e712;																		//	\f33c
$entypo-icon-sina-weibo: \e713;																//	\f33f
$entypo-icon-paypal: \e714;																		//	\f342
$entypo-icon-picasa: \e715;																		//	\f345
$entypo-icon-soundcloud: \e716;																//	\f348
$entypo-icon-mixi: \e717;																			//	\f34b
$entypo-icon-behance: \e718;																	//	\f34e
$entypo-icon-google-circles: \e719;														//	\f351
$entypo-icon-vkontakte: \e71a;																//	\f354
$entypo-icon-smashing: \e71b;																	//	\f357
$entypo-icon-sweden: \e66e;																		//	\f601
$entypo-icon-db-shape: \e6ed;																	//	\f600
$entypo-icon-logo-db: \e6ec;																	//	\f603


// Grab the list of icons
@import "entypo-icon-list";




