.image {
  line-height:0;
  margin-bottom: 20px;
  &.circle {
    border-radius: 50% !important;
    overflow: hidden;
    width: auto;
  }
  &.rounded {
    overflow: hidden;
    @include border-radius($button-radius $button-radius);
  }
  &.photo {
    padding: 5px;
    box-shadow: inset 0 0 1px $body-font-color;
    background: #fff;
    &.polaroid {
      padding-bottom: 50px;
    }
  }
}
