/* shame */

.ie8 .xxwide,
.ie8 .xwide,
.ie8 .wide,
.ie8 .normal,
.ie8 .narrow,
.ie8 .xnarrow {
	display: inline;
	&+input {
		display: inline;
		margin: 0 0 0 -.25em;
	}
}
.ie8 .field.success:after {
	border: 1px solid red !important;
}

.ie8 .ttip {
	&:before, &:after {
		display: none;
	}
	&:hover {
		&:before, &:after {
			display: block;
		}
	}
}
